<style>
    .center {
  padding: 70px 0;
  border: 1px solid rgb(64, 91, 130);;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  table-layout: auto;
  width: 80%;
}
</style>

<div class="center">

<a href="{% url 'home'%}">Back to Main</a>

<a href="{%url 'register_disease'%}">Create disease</a>
<h1>All Diseases:</h1>
<table class="center">
    <tr>
        <th>Disease Code</th>
        <th>Pathogen</th>
        <th>Description</th>
        <th>ID</th>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{object.disease_code}}</td>
        <td>{{object.pathogen}}</td>
        <td>{{object.description}}</td>
        <td>{{object.id}}</td>
        <td><a href="{%url 'updateDisease' object.disease_code%}">Edit</a>
            <a href="{%url 'deleteDisease' object.disease_code%}">Delete</a></td>
    </tr>
    
    {%endfor%}
</table>

    

</div>