

{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <title>Home</title>
</head>
<body style="background-image: url('https://criver.widen.net/content/fhofhr0dhs/jpeg/GettyImages-1285261108.jpg?w=1118&h=602&keep=c&crop=yes&color=ffffffff&quality=80&u=8anjqk');">
    <div >
        <div  class="container square-box d -flex justify-content-center align-items-center center bg-image">
            <div class= "d-flex align-items-center" > 
                <ul class="list-inline mx-auto ">
                    <li><a href="users_list/" class="link-light">Users</a></li>
                    <br>
                    <li><a href="doctor_list/">Doctors</a></li>
                    <br>
                </ul>
                <ul class="list-inline mx-auto ">
                    <li><a href="country_list/" >Countries</a></li>
                    <br>
                    <li><a href="diseasetype_list/">Disease Types</a></li>
                    <br>
                </ul>
                    <ul class="list-inline mx-auto ">
                        <li><a href="disease_list/">Diseases</a></li>
                        <br>
                        <li><a href="discovery_list/">Discoveries</a></li>
                        <br>
                    </ul>
                   
                <ul class="list-inline mx-auto ">
                    <li><a href="specialize_list/">Specializations</a></li>
                    <br>
                    <li><a href="public_list/">Public Servants</a></li>
                    <br>
                    <li><a href="record_list/">Records</a></li>
                    <br>
                    </ul>
                
                    
                
            </div>
        </div>
    </div>
    
   
</body>
</html>
    
    