
.square-box{
    max-width: 1000px;
    min-height: 100px;

    border: 2px solid #333;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

a{
color: white;
font-size: 32px;
  }
div{
    background-color: rgb(64, 91, 130);
}
  